<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mastercoach">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_coach"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_coach"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"

        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Game">

        </activity>

        <activity android:name=".Simulation">

        </activity>

        <activity android:name=".League">

        </activity>

        <activity android:name=".Team">

        </activity>

        <activity android:name=".HomeMenus">

        </activity>

        <activity android:name=".LeaderBoard">

        </activity>

        <activity android:name=".MyClub">

        </activity>

        <activity android:name=".Market">

        </activity>

    </application>

</manifest>